body{
    text-align: center;
}
.flexContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    width: 800px;
}
h1{
    font-size: 50px;
    margin: 0.2em;
    font-family: 'Faster One', cursive;
    text-transform: uppercase;
    letter-spacing:0.3em;
}
#chat_form{
    display: flex;
}
#chat_form span{
    width: 150px;
}
#send{
    font-size: 10px;
    margin-left:5px;
}
.chat-outcoming-message{
    width: 100%;
}
#chatScreen{
    text-align: left;
    border: 1px solid #CCC;
    height:80px;
    overflow-y: scroll;
    width: 79%;
    margin-left: 118px;
}
.fieldWrapper{
}

#connField {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.loading{
    height:2px;
    margin: 10px 0;
}
.centralContainer{
    position: relative;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.mainButtons{
    flex-direction:column;
}
.countPlateContainer{
    position: absolute;
    top: 5%;
    left: 49%;
    transform:translate(-49%, -5%);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
}
.countPlateContainer > span{
    line-height:35px;
    height: 35px;
    font-size: 22px;
    text-transform: uppercase;
}
#gameOverLayer{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, .6);
    display:none;
}
#gameOverLayer > p, #goal > p {
    position: absolute;
    display:block;
    top:30%;
    left:50%;
    transform:translate(-50%, -30%);
    margin: 20px auto;
    width: 50%;
    font-size: 1.3em;
    clear:both;
}
#gameOverLayer > p > span {
    color:#FFF;
    font-size: 1.6em;
    display: block;
    margin-bottom:20px;
    font-family: 'PT Sans', sans-serif;
}

.countPlate{
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
    border-radius: 3px;
    line-height: 2.5em;
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    display: block;
}
.ui-dialog .ui-dialog-title {
    float:none;
}
dialog{
    width: 200px;
    height: 200px;
    border: 3px solid lightseagreen;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 4em;
    font-family: 'Squada One', cursive;
    font-style: italic;
    font-weight: bold;
    line-height: 1em    ;
    justify-content: center;
    vertical-align: middle;
}
dialog::backdrop{
    background-color: #000;
    opacity: 0.4;
}
.error{
    color: #D40000FF;
}
.warning{
    color: #0D36F1FF;
}
#goal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
#goal p {
    font-size: 55px;
    opacity: 0.7;
    color:#000;
    letter-spacing: 2px;
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close{
    display: none;
}
#destroy{
    margin: auto;
}