body{
    text-align: center;
}
.flexContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    margin-right: 5%;
}
h1{
    font-size: 50px;
    margin: 0.2em;
    font-family: 'Faster One', cursive;
    text-transform: uppercase;
    letter-spacing:0.3em;
}
#chartField{
    margin-left: 5%;
    display: block;
    width: 100px;
}
.fieldWrapper{
}
input{
    display: block;
}
.centralContainer{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.countPlateContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
}
#startGame{
    width: 350px;
    height: 40px;
    background-color: #996666;
    color: #fff;
    font-size: 1em;
    border-radius: 3px;
    line-height: 2.5em;
    margin-bottom: 20px;
}
.countPlate{
    width: 350px;
    height: 40px;
    background-color: #996666;
    color: #fff;
    font-size: 1em;
    border-radius: 3px;
    line-height: 2.5em;
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    display: block;
}
.ui-dialog .ui-dialog-title {
    float:none;
}
dialog{
    width: 200px;
    height: 200px;
    border: 3px solid lightseagreen;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 4em;
    font-family: 'Squada One', cursive;
    font-style: italic;
    font-weight: bold;
    line-height: 1em    ;
    justify-content: center;
    vertical-align: middle;
}
dialog::backdrop{
    background-color: #000;
    opacity: 0.4;   
}